.*
pybot.egg-info/*
src/__pycache__/*
__pycache__/*
build/*
dist/*
pybotter.egg-info/*
*.pyc
*.png
simplerun.py
trash
.venv/*
*.spec
*TEST*.*
*.txt
*.bat
*.py
!pybotter/*
!pybotter/sound/*
pybotter/vmultiinstaller.py
pybotter/windowUIexporer.py